.baseStyle{
    height:100%;
    width: 100%;
}
.baseStyle .header{
    width:100%;
    height:46px;
    color:white;
    background-color: #001529;
    position: fixed;
}
.baseStyle .mainStyle{
    padding-top:59px;
    width:100%;
    height:100%;
    text-align:center;
}
.baseStyle .list{
    display:inline;
    float:left;
    margin:1% 2%;
    width:250px;
    height:660px;
    padding:30px 60px 20px 60px;
    color:white;
    background: no-repeat;
    background-image: url(../images/word_cloud.png);
    background-size: 100% 100%;
}
.baseStyle .dynamic-sort-chart{
    display:inline;
    float:left;
    margin:1%;
    width:1090px;
    height:660px;
    padding:20px 30px 20px 30px;
    background: no-repeat;
    background-image: url(../images/word_cloud.png);
    background-size: 100% 100%;
}
.baseStyle .Spin{
    display:inline;
    float:left;
    width:100%;
    height:580px;
}
.baseStyle .searchText{
    display:inline;
    float:right;
    padding:4px 50px 10px 0px;
}
.baseStyle .title{
    font-size: 10px;
    color:#1890ff;
    padding:0px 10px 20px 0px;
}
.baseStyle .title1{
    display:inline;
    float:left;
    font-size: 18px;
    color:#1890ff;
    padding:7px 0px 10px 0px;
    text-align: left;
}

.ant-spin-dot {
    position: relative;
    display: inline-block;
    width: 1em;
    height: 1em;
    margin: 25%;
}
.ant-list-item-meta-title>a {
    color: white;
    transition: all .3s;
}
.ant-list-split .ant-list-item {
    border-bottom: 0px
}
.InputNumber{
    margin-right:10px;
    background-color:rgba(36,36,36,.7);
    color:white;
    border: 1px solid #1890ff;
}